.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.header__robot {
  height: 591px;
  width: 466px;
  margin: 100px 40px 0;
}

.header__title {
  max-width: 500px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
  margin: 100px 0 70px 0;

}

.header__title-span-accent {
  color: #6DD0EF;
}

.button {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 60px;
  width: 198px;
  border-radius: 50px;
  margin: 0;
  background-color: #FF005C;
  cursor: pointer;
  box-sizing: border-box;
  transition-duration: .25s;
}

.button:hover {
  border: 1px solid white;
}

.button__text {
  width: 100%;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
}

.logo {
  position: absolute;
  top: 48px;
  left: 50px;
  height: 44px;
  width: 120px;
  z-index: 3;
}

.drag-horizontal {
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: -11px;
  align-self: center;
  height: 21px;
  width: 21px;
  cursor: pointer;
}

.showreel {
  text-decoration: none;
  position: absolute;
  left: 50px;
  bottom: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.showreel__button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #FF005C;
  background-image: url('../images/showreel__button-play-image.svg');
  background-repeat: no-repeat;
  background-position-x: 23px;
  background-position-y: center;
  transition-duration: .25s;
}

.showreel__button_hover {
  transform: scale(1.1);
  box-sizing: border-box;
  border: 1px solid white;
}

.showreel__title {
  max-width: 98px;
  margin: 0 0 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  transition-duration: .25s;
}

.social {
  position: absolute;
  left: 50%;
  bottom: 50px;
  margin-left: -99px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social__link {
  display: flex;
  align-items: center;
  margin: 0 0 0 57px;
}

.social__link:first-child {
  margin: 0;
}

.social__link-image {
  background-position: center;
  background-repeat: no-repeat;
}

.contacts {
  position: absolute;
  right: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
}

.contacts__link {
  display: flex;
  align-items: center;
  height: 22px;
  width: 22px;
  margin: 44px 0 0;
}

.contacts__link:first-child {
  margin: 0;
}


@media screen and (min-width: 2400px) {
  .logo {
    width: 240px;
    height: 88px;
  }

  .menu-burger {
    height: 44px;
    width: 44px;
  }

  .drag-horizontal {
    height: 42px;
    width: 42px;
  }
  
  .showreel__button {
    height: 120px;
    width: 120px;
    
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .showreel__title {
    max-width: 196px;
    font-size: 40px;
    line-height: 40px;
  }
  
  .social {
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: -99px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .social__link {
    display: flex;
    align-items: center;
    margin: 0 0 0 57px;
  }
  
  .social__link:first-child {
    margin: 0;
  }
  
  .social__link-image {
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .contacts {
    position: absolute;
    right: 50px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
  }
  
  .contacts__link {
    display: flex;
    align-items: center;
    height: 22px;
    width: 22px;
    margin: 44px 0 0;
  }
}

@media screen and (max-width: 1024px) {
  .header__title {
    margin: 0 auto 35px;
  }
}

@media screen and (max-width: 768px) {
  .header__robot {
    height: 50%;
    width: auto;
  }
  
  .header__title {
    width: 90%;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    margin: 0 auto 35px;
  }
  
  .button {
    margin: 0 auto;
  }
}

@media screen and (max-width: 575px) {
  .header__robot {
    height: 50%;
    width: auto;
  }
  
  .showreel {
    opacity: 0;
  }
  
  .drag-horizontal {
    opacity: 0;
  }
  
  .social {
    opacity: 0;
  }
  
  .header__title {
    width: 70%;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto 35px;
  }
  
  .button {
    margin: 0 auto;
  }
}

@media screen and (max-width: 376px) {

  .logo {
    top: 30px;
    left: 30px;
  }

  .icon_position {
    top: 30px;
    right: 30px;
  }

  .contacts {
    right: 30px;
    bottom: 30px;
  }

  .header__title {
    width: 80%;
    margin: 0 auto 15px;
  }

  .button {
    height: 40px;
    width: 150px;
  }

  .button__text {
    font-size: 15px;
  }
}

@media screen and (max-width: 325px) {
  .header__title {
    font-size: 20px;
    line-height: 25px;
    margin: 0 auto 10px;
  }

  .button {
    width: 130px;
    height: 35px;
  }
}