.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 30%;
  min-width: 280px;
  overflow: auto;
  background-color: white;
  transition: all 0.4s ease;
  z-index: 4;
}

.menu_open {
  right: 0;
}

.icon {
  height: 26px;
  width: 26px;
  z-index: 4;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .icon_mobile {
    border-radius: 50%;
    background-color: white;
    border: 3px solid black;
  }
}

.icon_position {
  position: fixed;
  top: 44px;
  right: 44px;
}

.icon__top-stick {
  display: block;
  position: absolute;
  top: 7px;
  width: 22px;
  height: 3px;
  border-radius: 2px;
  z-index: 2;
  transition-duration: .25s;
  background-color: white;
}

.icon__bottom-stick {
  display: block;
  position: absolute;
  bottom: 8px;
  width: 22px;
  height: 3px;
  border-radius: 2px;
  z-index: 2;
  transition-duration: .25s;
  background-color: white;
}

.icon__top-stick_menu_open {
  left: 2px;
  top: 11px;
  transform: rotate(-45deg);
  background-color: black;
}

.icon__bottom-stick_menu_open {
  left: 2px;
  bottom: 12px;
  transform: rotate(45deg);
  background-color: black;
}

.menu__items{
  list-style: none;
  padding: 0;
}

.menu__item {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 50px;
  color: #01215C;
  margin: 0 0 15px;
  padding: 3px 5px;
  transition-duration: .4s;
}

.menu__item:hover {
  background-color: #01215C;
  color:white;
}

.menu__item:focus {
  outline: none;
  background-color: #01215C;
  color:white;
}