@import url('menu.css');
@import url('header.css');
@import url('main.css');
@import url('footer.css');

.page {
  width: 100%;
  background-color: #01215C;
  margin: 0 auto;
}

.page_fixed {
  overflow: hidden;
}