.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4CAFCE;
}

.blocks {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 29px;
  margin: 0;
  padding: 0;
}

.blocks__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  color: white;
  margin: 0 0 60px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.blocks__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 313px;
  border-radius: 20px;
  background-color: #47A9C8;
}

.blocks__text {
  width: 190px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: white;
}

@media screen and (max-width: 1025px) {
  .blocks {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 29px;
  }

  .blocks__title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
}

@media screen and (max-width: 769px) {
  .blocks {
    grid-gap: 20px;
  }

  .blocks__item {
    height: 100px;
    width: 300px;
    border-radius: 20px;
    background-color: #47A9C8;
  }
}

@media screen and (max-width: 415px) {
  .blocks {
    grid-gap: 15px;
  }

  .blocks__item {
    height: 100px;
    width: 170px;
    border-radius: 20px;
    background-color: #47A9C8;
  }

  .blocks__title {
    font-size: 50px;
    line-height: 50px;
  }

  .blocks__text {
    width: 160px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: white;
  }
}

@media screen and (max-width: 321px) {
  .blocks {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 29px;
  }

  .blocks__title {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .blocks__item {
    height: 100px;
    width: 200px;
    border-radius: 20px;
    background-color: #47A9C8;
  }
}